html{
  background-color: #00B9FF;
}

#self-photo{
  border: solid white 0.3em;
  float:top;
  display:inline-block;
  margin:0em;
  padding:0em;

}
body{
  margin-left:4em;
  margin-right:1em;
  margin-bottom:2em;
  margin-top:2em
}

p{
  width:50em;
}

#header{
  background:url(../imgs/kaneoheJJ2.png);
  height:380px;
  border:1px solid #199C78;
  width: 80%;

}