html{
  background-color:#B87C04;
}

#title {
 border: 0.5em inset;
 border-color: #FFC600;
 background-color:#FFDA61;
 padding: 1em;
 margin-bottom: 3px;
 width: 13em;
 margin-left:auto;
 margin-right:auto;
 text-align:center;
 font-size: 2em;
}

#nav{
 margin-left:auto;
 margin-right:auto;
 text-align:center;
 border-color: #FFC600;
 background-color:#FFDA61;
 width: 13.5em;
}

#body{
  margin-top:1em;
  margin-bottom:1em;
  margin-left:auto;
  margin-right:auto;
  border-color:#AD9101;
  background-color:#FFDA61;
  border:solid #AD9101 0.5em;
  border-radius:3em;
  width: 60em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom:2em;
}
#footerL{
float:left;
border-radius:1em;
background-color: #FFEB00;
padding:2em;
display:inline-block;
width:5em;
}
#footerR{
float:right;
border-radius:1em;
background-color: #FFEB00;
padding:2em;
display:inline-block;
width:5em;
}
.left {
    float:left;
    width: 10%;
    text-align:center;
    border-radius:1em;
background-color: #FFEB00;
padding:2em;
/*display:inline-block;*/
}
.right {
    float:right;
    width: 10%;
    text-align: center;
    border-radius:1em;
background-color: #FFEB00;
padding:2em;
/*display:inline-block;*/
}
.center{
    float: left;
    width: 10%;
    text-align: center;
    border-radius:1em;
background-color: #FFEB00;
padding:2em;
margin-left:25%;
margin-right:25%;
}
#footerM{
/*clear:both;
float:center;*/
border-radius:1em;
background-color: #FFEB00;
padding:2em;
display:inline-block;
width: 5em;
/*position:relative;*/
margin-left:auto;
margin-right:auto;
text-align: center;
}
.center2{
    position:static;
    width: 10%;
    text-align: center;
    border-radius:1em;
background-color: #FFEB00;
padding:2em;
margin-left:42%;
margin-right:;
}

a{
  color: red;
  font-weight: bold;
  text-decoration: none;
  }
a:hover{
  font-weight: bolder;
  color:#CF0545;
}
a:visited{
  color:#6804CF;
};
a:visted:hover{
  color:#6804CF;
  font-weight: bolder;
}
